name: tracely
description: API debugging, distributed tracing and scenario automation platform
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  flutter_animate: ^4.5.0
  google_fonts: ^6.3.3
  google_sign_in: ^6.3.0
  flutter_dotenv: ^5.2.1
  shared_preferences: ^2.2.2
  http: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
